@font-face {
  font-family: 'BrandonGrotesqueBlack';
  src: url('../fonts/brandongrotesqueBlack.woff2') format('woff2'),
  url('../fonts/brandonGrotesqueBlack.woff') format('woff'),
  url('../fonts/brandonGrotesqueBlack.svg') format('svg');
}

@font-face {
  font-family: 'BrandonGrotesqueBlackItalic';
  src: url('../fonts/brandongrotesqueBlackItalic.woff2') format('woff2'),
  url('../fonts/brandongrotesqueBlackItalic.woff') format('woff'),
  url('../fonts/brandongrotesqueBlackItalic.svg') format('svg');
}

@font-face {
  font-family: 'BrandonGrotesqueBold';
  src: url('../fonts/brandongrotesqueBold.woff2') format('woff2'),
  url('../fonts/brandongrotesqueBold.woff') format('woff'),
  url('../fonts/brandongrotesqueBold.svg') format('svg');
}

@font-face {
  font-family: 'BrandonGrotesqueBoldItalic';
  src: url('../fonts/brandongrotesqueBoldItalic.woff2') format('woff2'),
  url('../fonts/brandongrotesqueBoldItalic.woff') format('woff'),
  url('../fonts/brandongrotesqueBoldItalic.svg') format('svg');
}

@font-face {
  font-family: 'BrandonGrotesqueLight';
  src: url('../fonts/brandongrotesqueLight.woff2') format('woff2'),
  url('../fonts/brandongrotesqueLight.woff') format('woff'),
  url('../fonts/brandongrotesqueLight.svg') format('svg');
}

@font-face {
  font-family: 'BrandonGrotesqueLightItalic';
  src: url('../fonts/brandongrotesqueLightItalic.woff2') format('woff2'),
  url('../fonts/brandongrotesqueLightItalic.woff') format('woff'),
  url('../fonts/brandongrotesqueLightItalic.svg') format('svg');
}

@font-face {
  font-family: 'BrandonGrotesqueMedium';
  src: url('../fonts/brandongrotesqueMedium.woff2') format('woff2'),
  url('../fonts/brandongrotesqueMedium.woff') format('woff'),
  url('../fonts/brandongrotesqueMedium.svg') format('svg');
}

@font-face {
  font-family: 'BrandonGrotesqueMediumItalic';
  src: url('../fonts/brandongrotesqueMediumItalic.woff2') format('woff2'),
  url('../fonts/brandongrotesqueMediumItalic.woff') format('woff'),
  url('../fonts/brandongrotesqueMediumItalic.svg') format('svg');
}

@font-face {
  font-family: 'BrandonGrotesqueRegular';
  src: url('../fonts/brandongrotesqueRegular.woff2') format('woff2'),
  url('../fonts/brandongrotesqueRegular.woff') format('woff'),
  url('../fonts/brandongrotesqueRegular.svg') format('svg');
}

@font-face {
  font-family: 'BrandonGrotesqueRegularItalic';
  src: url('../fonts/brandongrotesqueRegularItalic.woff2') format('woff2'),
  url('../fonts/brandongrotesqueRegularItalic.woff') format('woff'),
  url('../fonts/brandongrotesqueRegularItalic.svg') format('svg');
}

@font-face {
  font-family: 'BrandonGrotesqueThin';
  src: url('../fonts/brandongrotesqueThin.woff2') format('woff2'),
  url('../fonts/brandongrotesqueThin.woff') format('woff'),
  url('../fonts/brandongrotesqueThin.svg') format('svg');
}

@font-face {
  font-family: 'BrandonGrotesqueThinItalic';
  src: url('../fonts/brandongrotesqueThinItalic.woff2') format('woff2'),
  url('../fonts/brandongrotesqueThinItalic.woff') format('woff'),
  url('../fonts/brandongrotesqueThinItalic.svg') format('svg');
}