//fonts

$BrandonGrotesqueBlack: "BrandonGrotesqueBlack", sans-serif;
$BrandonGrotesqueBlackItalic: "BrandonGrotesqueBlackItalic", sans-serif;
$BrandonGrotesqueBold: "BrandonGrotesqueBold", sans-serif;
$BrandonGrotesqueBoldItalic: "BrandonGrotesqueBoldItalic", sans-serif;
$BrandonGrotesqueLight: "BrandonGrotesqueLight", sans-serif;
$BrandonGrotesqueLightItalic: "BrandonGrotesqueLightItalic", sans-serif;
$BrandonGrotesqueMedium: "BrandonGrotesqueMedium", sans-serif;
$BrandonGrotesqueMediumItalic: "BrandonGrotesqueMediumItalic", sans-serif;
$BrandonGrotesqueRegular: "BrandonGrotesqueRegular", sans-serif;
$BrandonGrotesqueRegularItalic: "BrandonGrotesqueRegular", sans-serif;
$BrandonGrotesqueThin: "BrandonGrotesqueThin", sans-serif;
$BrandonGrotesqueThinItalic: "BrandonGrotesqueThinItalic", sans-serif;